.App {
  background-color: #f3f1eb;
  padding-top: 30px;
  font-family: ProximaNova, Helvetica, Arial, sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

.App footer a {
  text-decoration: none;
  text-align: center;
  color: black;
}
.App header {
  text-align: center;
}
.App footer {
  padding: 30px;
}
.App .logo {
  max-width: 300px;
  border-radius: 6px;
}
